<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peo.mapper.ColumnMapper">

    <resultMap id="BaseResultMap" type="com.peo.pojo.Column">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="fieldValue" column="fieldValue" jdbcType="VARCHAR"/>
            <result property="fieldName" column="fieldName" jdbcType="VARCHAR"/>
            <result property="fieldWidth" column="fieldWidth" jdbcType="INTEGER"/>
            <result property="fieldType" column="fieldType" jdbcType="INTEGER"/>
            <result property="selectId" column="selectId" jdbcType="INTEGER"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,fieldValue,fieldName,
        fieldWidth,fieldType,selectId
    </sql>
</mapper>
