<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peo.mapper.FieldMapper">

    <resultMap id="BaseResultMap" type="com.peo.pojo.CustomerField">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="field1" column="field1" jdbcType="INTEGER"/>
            <result property="field2" column="field2" jdbcType="INTEGER"/>
            <result property="field3" column="field3" jdbcType="INTEGER"/>
            <result property="field4" column="field4" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,field1,
        field2,field3,field4
    </sql>
    <select id="getAllFieldByUserId" resultType="java.util.Map">
          select *
<!--              user_id,-->
<!--              <foreach collection="columns" separator="," item="column" index="index">-->
<!--                  ${column}-->
<!--              </foreach>-->
          from t_hrm_cusfield
          <where>
              user_id in
          <foreach collection="userIds" item="id" separator="," index="index" open="(" close=")">
             (#{id})
          </foreach>
           </where>
    </select>
</mapper>
