<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peo.mapper.FiledMapper">

    <resultMap id="BaseResultMap" type="com.peo.pojo.Filed">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="actconfdata" column="actConfData" jdbcType="VARCHAR"/>
            <result property="costcenter" column="costcenter" jdbcType="VARCHAR"/>
            <result property="houseallance" column="houseAllance" jdbcType="TINYINT"/>
            <result property="iscn" column="isCN" jdbcType="TINYINT"/>
            <result property="isconf" column="isConf" jdbcType="TINYINT"/>
            <result property="istech" column="isTech" jdbcType="TINYINT"/>
            <result property="mealallance" column="mealAllance" jdbcType="TINYINT"/>
            <result property="national" column="national" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="salgroup" column="salGroup" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,uid,actConfData,
        costcenter,houseAllance,isCN,
        isConf,isTech,mealAllance,
        national,remark,salGroup
    </sql>
</mapper>
