<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peo.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.peo.pojo.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="lastname" column="lastname" jdbcType="VARCHAR"/>
            <result property="level" column="level" jdbcType="VARCHAR"/>
            <result property="workcode" column="workcode" jdbcType="VARCHAR"/>
            <result property="position" column="position" jdbcType="VARCHAR"/>
            <result property="depid" column="depid" jdbcType="INTEGER"/>
            <result property="hiredate" column="hiredate" jdbcType="VARCHAR"/>
            <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        type,gender,lastname,
        level,workcode,position,
        depid,hiredate,deleted
    </sql>
    <select id="getUser" resultType="com.peo.vo.UserVo">
        SELECT lastname,workcode,POSITION,LEVEL,hiredate
        FROM t_hrm_user t1
        <where>
            <if test="depIds != null">
                depid IN #{depIds}
            </if>
        </where>
    </select>
    <select id="getUserByDepIds" resultType="com.peo.vo.UserVo">
        SELECT a.id, username, depid, workcode, lastname, gender, TYPE, hiredate, LEVEL, access, POSITION, STATUS, deleted,
               b.* FROM t_hrm_user a LEFT JOIN t_hrm_cusfield b ON a.id = b.user_id where
        depid IN
            <foreach collection="depId" item="value" open="(" close=")" separator=",">
                #{value}
            </foreach>
     LIMIT 1,10
    </select>

    <insert id="importData" parameterType="java.util.List">
        insert into t_temp_user(username,gender,lastname,level,workcode,position,depid)
        values 
            <foreach collection="list" item="user" index="index" separator=",">
                (#{user.username}, #{user.gender}, #{user.lastname}, #{user.level}, #{user.workcode}, #{user.position}, #{user.depid})
            </foreach>
    </insert>
</mapper>
